@mixin btn() {
    font-size: 0.875rem;
    height: calc(1.5em + 1.25rem + 2px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em !important;
}

@mixin button($bg-color, $bd-color, $color) {
    background-color: $bg-color;
    border-color: $bd-color !important;
    color: $color;
}

@mixin button-hover($bg-color, $bd-color) {
    background-color: $bg-color;
    border-color: $bd-color;
    color: #fff;
}


.bukit-biak {
    .btn {

        @include btn();


        &.dropdown-toggle {
            border-radius: 0.25rem !important;
            border-color: #d7dbdf;

            &.dropdown-toggle-icon-only {
                padding: .438rem;

                i {
                    margin: 0;
                }

            }

            &:hover {
                background-color: transparent;
            }

            &[aria-expanded="true"] {
                background-color: transparent;
                border-color: $main-color;
            }

            .filter-option {
                display: flex;
                align-items: center;
                color: #777;
                font-size: 0.875rem;
            }
        }
        &:focus {
            box-shadow: none;
        }

        &:not(.btn-sm) {
            min-width: calc(1.55em + 1.25rem + 2px);

            i {
                font-size: 1.15rem;
                margin-right: 7px;
            }
        }

        &.icon-btn {
            i {
                margin-right: 0;
            }
        }

        &.btn-sm {
            height: calc(1.501rem + 2px)
        }

        @media screen and (max-width: $breakpoint-lg) {
            &.icon-btn-only-sm {
                width: calc(2.25276rem + 2px) !important;

                i {
                    margin: 0;

                    + span {
                        display: none;
                    }
                }
            }
        }

        // btn-secondary
        &.btn-primary {
            @include button($main-color, $main-color, #fff);
            &:active {
                @include button-hover($main-color-hover, $main-color-hover);
            }

        }

        &.btn-outline-primary {
            @include button(transparent, $main-color, $main-color);
            &:active {
                @include button-hover($main-color, $main-color);
            }
            &:not(.not-hover):hover {
                @include button-hover($main-color, $main-color);
            }


        }

        // btn-secondary
        &.btn-secondary {
            @include button($grey-color, $grey-color-hover, #333);
            &:active {
                @include button-hover($grey-color-hover, $grey-color-hover);
            }
            &.btn-outline {
                @include button(transparent, $grey-color, $grey-color);
                &:active {
                    @include button-hover($grey-color, $grey-color);
                }
            }
        }

         // btn-warning
         &.btn-warning {
            @include button($secondary-color, $secondary-color, #fff);
            &:active {
                @include button-hover($secondary-color-hover, $secondary-color-hover);
            }
            &.btn-outline {
                @include button(transparent, $secondary-color, $secondary-color);
                &:active {
                    @include button-hover($secondary-color, $secondary-color);
                }
            }
        }

        &.btn-danger {
            @include button($red-color, $red-color, #fff);
        }
    }
    .input-group {
        .input-group-append {
            .btn {
                border: {
                    top-right-radius: .25rem !important;
                    bottom-right-radius: .25rem !important;
                    top-left-radius: 0 !important;
                    bottom-left-radius: 0 !important;
                }
                i {
                    margin: 0;
                }
            }
        }
    }

    .box-btn {
        margin-top: $dt-1;
    }


}
