.bukit-biak {
    font-family: $font-global;
    color: $primary-text-color;
    background-color: $bg-color;
    font-size: 14px;
    line-height: 1.7;

    // a {
    //     &:not(.btn) {
    //         color: $main-color;
    //     }

    //     &:not(.dropdown-item) {
    //         color: $main-color;
    //     }
    // }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        line-height: 1.54 !important;
    }
    .text-primary {
        color: $main-color !important;
    }

    .text-danger {
        color: #ff0800 !important;
    }

    .pagination {
        justify-content: flex-end;
        margin: $dt-1 / 2 0;
        flex-wrap: wrap;
        .page-item {
            &.active {
                .page-link {
                    background-color: $main-color;
                    border-color: $main-color;
                    color: $secondary-color;
                }
            }
            +.page-item {
                .page-link {
                    margin-left: 0.588rem;
                }
            }
        }
        .page-link {
            border-radius: 100% !important;
        }
    }

    @media screen and (max-width: $breakpoint-lg) {
        .pagination {
            justify-content: center;
        }
    }

    .thumbnail-img {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
    }
}



